@import "_variables.scss";

.menu-bar {
  @extend .flex-row-center-between;

  width: 100vw;
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
  background: $color-dock-background;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  color: $color-white;
  padding: 0 20px;
  font-size: 14px;

  .left {
    @extend .flex-row-center-center;

    ul.menus {
      @extend .flex-row-center-center;

      height: 100%;
      gap: 15px;

      .active {
        font-weight: bold;
      }
    }
  }

  .right {
    @extend .flex-row-center-center;

    .menu-time {
      font-weight: 500;
    }
  }
}

.background-back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#dock {
  @extend .flex-row-center-center;

  height: 75px;
  background: $color-dock-background;
  backdrop-filter: blur(13px);
  -webkit-backdrop-filter: blur(13px);
  border: 1px solid $color-dock-border;
  border-radius: 16px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  gap: 2.5px;
  padding: 0 5px;
}

li.menu-icon {
  width: auto;
  height: 100%;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;

  .tooltip {
    visibility: hidden;
    width: 120px;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    background-color: $color-background;
    color: $color-white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    transition: 0.5s all ease-in-out;
    z-index: 1;
  }

  a.link-app {
    width: 100%;
    height: 100%;

    img.img-app {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &:hover .tooltip {
    visibility: visible;
  }
}

.menu-icon:hover .tooltip {
  opacity: 1;
}

.modal-cv {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  border-radius: 16px;
  box-shadow: 0 0 20px $color-background;
  overflow: auto;
  z-index: 1000;

  embed {
    border-radius: 16px;
  }

  &:target {
    display: block;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: $color-red;
  padding: 5px 10px;
  border-radius: 5px;
  color: $color-white;

  &:hover {
    background-color: darken($color-red, 10%);
  }
}
